.pumpkin {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.maple-tree {
    background-image: url("./assets/images/maple-tree.png");
}

.seed-shooter {
    background-image: url("./assets/images/shooter.webp");
}