.pumpkin {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.maple-tree {
    background-image: url("./assets/images/maple-tree.png");
}

.seed-shooter {
    background-image: url("./assets/images/shooter.webp");
}

.jack-o-lantern {
    background-image: url("./assets/images/lantern.webp");
}

.peach {
    background-image: url("./assets/images/peach.webp");
}

.slot .peach::after {
    position: absolute;
    content: "💥";
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 5rem;
    animation: explode 0.5s linear;
}

@keyframes explode {
    from {
        scale: 0.3;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}