.generic {
    background-image: url("./assets/images/generic.webp");
}

.armored {
    background-image: url("./assets/images/armored.webp");
}

.ghost {
    background-image: url("./assets/images/ghost.webp");
}

.enderman {
    background-image: url("./assets/images/enderman.webp");
}

.frozen {
    filter: sepia(0.75) hue-rotate(120deg) brightness(1.5);
}