.generic {
    background-image: url("./assets/images/generic.webp");
}

.armored {
    background-image: url("./assets/images/armored.webp");
}

.ghost {
    background-image: url("./assets/images/ghost.webp");
}

.frozen {
    filter: sepia(0.75) hue-rotate(120deg);
}